<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="text-light">Cab Booking</h1>    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Available Cabs</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/Places']">Available Places</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/booking/add']">Book a Cab</a>
        </li>
      </ul>
    </div>
  </nav>